/* Custom Varibles ====================*/
@import "variables";

/* scss Import =================*/

// Core variables and mixins
@import "scss/variables";
@import "scss/mixins";

// Reset and dependencies
@import "scss/normalize";
@import "scss/print";

// Core CSS
@import "scss/reboot";
@import "scss/type";
@import "scss/images";
//@import "scss/code";
@import "scss/grid";
@import "scss/tables";
//@import "scss/forms";
@import "scss/buttons";

//Components
@import "scss/animation";
@import "scss/dropdown";
@import "scss/button-group";
//@import "scss/input-group";
//@import "scss/custom-forms";
@import "scss/nav";
@import "scss/navbar";
//@import "scss/card";
//@import "scss/breadcrumb";
//@import "scss/pagination";
//@import "scss/tags";
//@import "scss/jumbotron";
//@import "scss/alert";
//@import "scss/progress";
@import "scss/media";
//@import "scss/list-group";
//@import "scss/responsive-embed";
//@import "scss/close";

//Components w/ JavaScript
//@import "scss/modal";
//@import "scss/tooltip";
//@import "scss/popover";
//@import "scss/carousel";

//Utility classes
@import "scss/utilities";

/* Base Styles Import =================*/
@import "mixins";
@import "base";

/* Fonts ==============================*/
//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
//@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');